<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Realtime communication with WebRTC</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   
  
  </head>

  <body>
        <div class="navbar-fixed">
                <nav class="nav-natanedu">
                    <div class="nav-wrapper">
                        <a href="#" class="brand-logo"> 
                        <img src="../img/logo.png" class="size-35 logo-nav"/>
                        </a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/profile">profile</a></li>
                        
                        </ul>
                    </div>
                    
                    </nav>
            
            </div>

    <div id="videos">
      <div  id="localVideo">

      </div>
      <div  id="remoteVideo">

      </div>
    </div>


    <!-- This file is automatically added/served when running "node index.js". -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://rtcmulticonnection.herokuapp.com/dist/RTCMultiConnection.min.js"></script>
    <script src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js"></script>
    <script>
        
        var connection = new RTCMultiConnection();

        // this line is VERY_important
        connection.socketURL = 'https://rtcmulticonnection.herokuapp.com:443/';

        // all below lines are optional; however recommended.

        connection.session = {
            audio: true,
            video: true
        };

        connection.sdpConstraints.mandatory = {
            OfferToReceiveAudio: true,
            OfferToReceiveVideo: true
        };

        connection.onstream = function(event) {
            if(event.type==="local"){
                document.getElementById("localVideo").appendChild( event.mediaElement );
            }
            if(event.type==="remote"){
                document.getElementById("remoteVideo").appendChild( event.mediaElement );
            }
           
        };
        var predefinedRoomId = "<%= id%>";
        connection.openOrJoin( predefinedRoomId );
    </script>
  </body>
</html>