<html>

<head>
        <link href="../css/home.css" rel="stylesheet">
</head>
<body>
        <% include header %>
<div style="margin-top: 50px;"></div>
<h1 style="color: #ffff;"> <center>Welcome to First Online Education Portal on Blockchain</center></h1>


</body>

</html>