<html>
	<head>
        <link href="../css/home.css" rel="stylesheet">
        <script src="../web3/web3.js"></script>
</head>
<body>
        <% include header %>
<div style="margin-top: 50px;"></div>
<h1 style="color: #ffff;"> <center>Welcome to First Online Education Portal on Blockchain</center></h1>
        
                <head>
                        <link href="../css/home.css" rel="stylesheet">
                        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                

  <!-- Bootstrap core CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/modern-business.css" rel="stylesheet">

                        <style>
                        #new-board-btn {
                    white-space: normal;
                }
                        </style>
                </head>
                <body>

                               <% include header %>
                                        

                                        <header>

                                              
                                                        <div class="video-container">
                                                                        <div>

                                                     <p class="h1"> Welcome to Natanedu </p>
                                                                        </div>
                                                                
                                                        <iframe  src="https://www.youtube.com/embed/-EK3qOl-RMQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media;" allowfullscreen>
                                                        </iframe>
                                                        </div>
                                
                                                      </header>
                                                  
                
                        <section class="wrapper">
                                        <div class="container-fostrap">
                                            <div>
                                                <img src="../img/N.png" class="fostrap-logo"/>
                                                <h1 class="heading">
                                                   Choose one
                                                </h1>
                                            </div>
                                            <div class="content">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6">
                                                            <div class="card">
                                                                <a class="img-card" href="/teacher/login">
                                                                <img src="../img/teacher.svg" />
                                                              </a>
                                                            
                                                                <div class="card-read-more">
                                                                    <a href="/teacher/login" class="btn btn-link btn-block">
                                                                        I'm Teacher
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6">
                                                            <div class="card">
                                                                <a class="img-card" href="/student/login">
                                                                <img src="../img/std.svg" />
                                                              </a>

                                                                <div class="card-read-more">
                                                                    <a href="/student/login" class="btn btn-link btn-block">
                                                                       I'm Student
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                   <!-- Bootstrap core JavaScript -->
    <script src="../jquery/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>  
    <script src="../home/home.js"></script>            
    </body>
</html> 
             
