<html>
	<head>
        <link href="../css/home.css" rel="stylesheet">
        <script src="../js/web3.js"></script>
</head>
<body>
        <% include header %>
<div style="margin-top: 50px;"></div>
<h1 style="color: #ffff;"> <center>Welcome to First Online Education Portal on Blockchain</center></h1>


</body>

</html>