<html>
	<head>
       
       <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/12.1.0/nouislider.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="../css/home.css"/>
        <link rel="stylesheet" href="../css/uirange.css"/>

        <!-- web3 -->
        <script src="../web3/web3.js"></script>
        <script src="../teacher/teacher.js"></script>  
        <script src="../student/student.js"></script>   
    </head>
    <body>
        <div class="row row-index">
            <div class="col s8 main">
                <div class="row">
                        <div class="col s12">
                                <img src="../img/logo.png" class="size-35 img-logo"/>
                        </div>
                        <div class="col s12">

                                <iframe class="video-intro" src="https://www.youtube.com/embed/-EK3qOl-RMQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media;" allowfullscreen></iframe>
                        </div>
                </div>
               
            </div>
            <div class="col s4 core-form" style="padding: 0px;" id="main-content">
                <nav class="nav-extended nav-color z-depth-0">
                    <div class="nav-content ">
                      <ul class="tabs">
                        <li class="tab tab-size-50"><a class="active"  href="#Teacher">Teacher</a></li>
                        <li class="tab tab-size-50"><a  href="#Student">Student</a></li>
                      </ul>
                    </div>
                  </nav>
                  <%- include('teacher') %>
                  <%- include('student') %>
               
                <%- include('login') %>
            </div>
          
               
         
          </div>
          <!-- Modal Structure -->
            <div id="wait" class="modal">
                <div class="modal-content">
                        <div class="row col s12">
                                <div class="preloader-wrapper big active " style="left:40%">
                                        <div class="spinner-layer spinner-blue-only">
                                          <div class="circle-clipper left">
                                            <div class="circle"></div>
                                          </div><div class="gap-patch">
                                            <div class="circle"></div>
                                          </div><div class="circle-clipper right">
                                            <div class="circle"></div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col s12 grey-text lighten-4-text" >
                                            <span id="msg-waiting">your account is being created, click on sign up after the metamask confirmation</span>
                                      </div>
                        </div>
                </div>
            </div>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      
          <!-- Compiled and minified JavaScript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/12.1.0/nouislider.js"></script>
          <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
           
           <script>
                var elems_wait = document.getElementById('wait');
                var wait_instance = M.Modal.init(elems_wait, {dismissible:false});
               var stepmax=10;
               var max=10;
               $(document).ready(function(){
                M.AutoInit();
                var el=document.querySelectorAll("ul.tabs");
                var instance = M.Tabs.init(el,{
                  swipeable :true,
                  onShow:function(elem){
                     var text="login as ";
                      $("#label-login-bt").text(text+elem.id)
                      if(elem.id=="Teacher"){
                            $("#login-input").val(1);
                      }else if(elem.id=="Student"){
                            $("#login-input").val(2);
                      }
                  }
                  });
                var elems = document.querySelectorAll('#country-input .dropdown-trigger');
                M.Dropdown.init(elems, {});
                var elems_lang = document.querySelectorAll('#language-input .dropdown-trigger');
                M.Dropdown.init(elems_lang, {});
                $(".carousel-slider").css("height","72%");

                var slider = document.getElementById('money-slider');
                noUiSlider.create(slider, {
                    start: [0.2,3],
                    step:0.1,
                    behaviour: 'drag',
                    connect: true,
                    orientation: 'horizontal',
                    range: {
                        'min': [0],
                        'max': [10]
                    }
                });
                slider.noUiSlider.on('update', function( values, handle ) {
                    if(handle==0){
                            $("#min-money").val(values[handle]);
                            $("#money-val-min").text(values[handle])
                    }else if(handle==1){
                        $("#max-money").val(values[handle]);
                        $("#money-val-max").text(values[handle]+" eth")
                    }
                   
                });
                slider.noUiSlider.on('change', function( values, handle ) {
                    // on change of the slider, find the next element and set its value
                   
                    if(values[handle]==max){
                    
                        
                        max=max+stepmax;
                        slider.noUiSlider.updateOptions({
                            start: [$("#min-money").val(),$("#max-money").val()],
                            step:0.1,
                            behaviour: 'drag',
                            connect: true,
                            orientation: 'horizontal',
                            range: {
                                'min': [0],
                                'max': [max]
                            }
                        });
                    }
                    
                    
                });
            });

            function login(){
                var log=$("#login-input").val();
                if(log=="1"){
                    console.log("teacher login");
                    loginTeacher()
                }else if(log=="2"){
                    console.log("student login");
                    loginStudent();
                }
            }
            function signTeacher(){
                
                var elem=$('#country-input');
                var instance = M.FormSelect.getInstance(elem);
                var fName = $('#teacher_first_name').val();
                var lName =$('#teacher_last_name').val();
                var country  = $('#country-input .dropdown-content .selected').text();
                var language  = $('#language-input .dropdown-content .selected').text();
                var topic  = $('#topic-input .dropdown-content .selected').text();
                var min=$("#min-money").val();
                var max=$("#max-money").val();
                if(country!="Choose your country" ||language!="Choose language of course"||fName!=""||lName!=""||topic!=""){
                    wait_instance.open();
                    registerTeacher(fName,lName,country,topic,language,web3.toWei(min, 'ether'),web3.toWei(max, 'ether'));      
                }   
               
            }
            
            function signStudent(){
                var fName = $('#fistname_student').val();
                var lName =$('#lastname_student').val();
                if(fName!=""||lName!=""){
                    wait_instance.open();
                    registerStudent(fName,lName);
                    
                }  
            }
           </script>   
            <script src="../js/countrypicker.js"></script> 
            <script src="../js/subjectpicker.js"></script> 
            <script src="../js/spoken-language.js"></script> 
    </body>
</html> 