<html>
	<head>
       
       <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../css/home.css"/>
   
</head>
    <body>
        <div class="row row-index">
            <div class="col s8 main">
                <div class="row">
                        <div class="col s12">
                                <img src="../img/logo.png" class="size-35 img-logo"/>
                        </div>
                        <div class="col s12">

                                <iframe class="video-intro" src="https://www.youtube.com/embed/-EK3qOl-RMQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media;" allowfullscreen></iframe>
                        </div>
                </div>
               
            </div>
            <div class="col s4 core-form" style="padding: 0px;">
                <nav class="nav-extended nav-color z-depth-0">
                    <div class="nav-content ">
                      <ul class="tabs">
                        <li class="tab tab-size-50"><a class="active"  href="#Teacher">Teacher</a></li>
                        <li class="tab tab-size-50"><a  href="#Student">Student</a></li>
                      </ul>
                    </div>
                  </nav>
                  <%- include('teacher') %>
                  <%- include('student') %>
               
                <%- include('login') %>
            </div>
          </div>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      
          <!-- Compiled and minified JavaScript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
          <!-- web3 -->
          <script src="../web3/web3.js"></script>
          <script src="../teacher/teacher.js"></script>  
          <script src="../student/student.js"></script>  
           <script>
               $(document).ready(function(){
                M.AutoInit();
                var el=document.querySelectorAll("ul.tabs");
                var instance = M.Tabs.init(el,{
                  swipeable :true,
                  onShow:function(elem){
                     var text="login as ";
                      $("#label-login-bt").text(text+elem.id)
                      if(elem.id=="Teacher"){
                            $("#login-input").val(1);
                      }else if(elem.id=="Student"){
                            $("#login-input").val(2);
                      }
                  }
                  });
                var elems = document.querySelectorAll('#country-input .dropdown-trigger');
                M.Dropdown.init(elems, {});
                var elems_lang = document.querySelectorAll('#language-input .dropdown-trigger');
                M.Dropdown.init(elems_lang, {});
                $(".carousel-slider").css("height","70%");
               
            });
            function login(){
                var log=$("login-input").val();
                if(log=="1"){
                    loginTeacher()
                }else if(log=="2"){
                    loginStudent();
                }
            }
            function signTeacher(){
                
                var elem=$('#country-input');
                var instance = M.FormSelect.getInstance(elem);
                var fName = $('#teacher_first_name').val();
                var lName =$('#teacher_last_name').val();
                var topic = $('#teacher_topic').val();
                var country  = $('#country-input .dropdown-content .selected').text();
                var language  = $('#language-input .dropdown-content .selected').text();
                 console.log(country);
                 if(country!="Choose your country" ||language!="Choose language of course"||fName!=""||lName!=""||topic!=""){
                        registerTeacher(fName,lName,topic,country,language);
                        
                 }   
               
            }
            
            function signStudent(){
                var elem=$('#country-input');
                var instance = M.FormSelect.getInstance(elem);
                var fName = $('#fistname_student').val();
                var lName =$('#lastname_student').val();
                 console.log(country);
                 if(fName!=""||lName!=""){
                    registerStudent(fName,lName);
                        
                 }  
            }
           </script>   
            <script src="../js/countrypicker.js"></script> 
            <script src="../js/spoken-language.js"></script> 

        
    </body>
</html> 