<html>
    <head>
        <!-- web3 -->
        <script src="../web3/web3.js"></script>
        <script src="../owner/owner.js"></script>  
    </head>

    <body>


        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            loginOwner()
        </script>

    </body>
</html>