<html>

<head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href="../css/login.css" rel="stylesheet">
      
</head>


<body class="main">

<div class="login-screen"></div>
    <div class="login-center">
        <div class="container max-height" style="margin-top: 100px;">
        	<div class="row">
            
                <div class="col-xs-6 col-md-offset-4">
                    <div class="login" id="card">
                    	<div class="front signin_form"> 
                            <div class="logo" style="margin-bottom: 30px;">
                                    <a href="/" class="logo" style="text-decoration: none; color: #FFFFFF;"><img src='../img/logo.png' 
                                        style="width:300px; height:80px; padding: 8px;"> </a>
                            </div>
                             
                            <form class="login-form">
                              
                              <div class="form-group sign-btn">
                                  <input type="submit" class="btn" value="Log in as Student">
                                 
                                 </div> 
                                 <div>
                               <p><br><strong>New to Natanedu?</strong><br><a href="student/signup" id="flip-btn" class="signup signup_link">Sign up for a new account as Student</a></p>
                            </div>
                          </form>
                        </div>
                        <div class="back signup_form" style="opacity: 0;">
                                <div class="logo" style="margin-bottom: 30px;">
                                        <a href="/" class="logo" style="text-decoration: none; color: #FFFFFF;"><img src='../img/logo.png' 
                                            style="width:300px; height:80px; padding: 8px;"> </a>
                                </div>
                            
                                <div>
                                    <p><strong>Sign Up as Student</strong></div>

                          <form class="login-form">
                              <div class="form-group">
                                  <div class="input-group">
                                      <input type="text" class="form-control" placeholder="First Name">
                                      <span class="input-group-addon">
                                          <i class="glyphicon glyphicon-user"></i>
                                      </span>
                                  </div>
                              </div>
                              <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Last Name">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span></div>
                              </div>
                              <div class="form-group sign-btn">
                                  <input type="submit" class="btn" value="Sign up">
                                  <br><br>
                                  <p>You have already Account So <strong><a href="" id="unflip-btn" class="signup">Log in</a></strong></p>
                              </div>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Flip/1.0.18/jquery.flip.js"></script>
    <script src="../js/login.js"></script>
    </body>
    </html>
