
<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Teacher Dashboard</title>
    <script>
      if(localStorage.logged==false){
        window.location.href="/";
      }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../css/dash.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- script js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="../js/makenotifcation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
    <!-- web3 -->
    <script src="../web3/web3.js"></script> 
    <script src="../teacher/teacher.js"></script>  
    
    <script>
      //teacher balance
      var teacherBalance = 0;
      getBalance();
    </script>
</head>

<body >

    <div class="navbar-fixed">
        <nav class="nav-natanedu">
            <div class="nav-wrapper">
              <a href="#" class="brand-logo"> 
                <img src="../img/logo.png" class="size-35 logo-nav"/>
              </a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/profile">profile</a></li>
                <li><a href="#logout" id="logout">logout</a></li>
              </ul>
            </div>
            
          </nav>
    
    </div>
    <div class="contaier" id="main">
        <div class="row">
            <div class="col s12">
                <div class="row">
                  <div class="col s12 m3 l4"></div>
                  
                  <div class="col s12 m6  l4">
                     
                          <ul class="collection hide" id="notification">
                          </ul>
                          <div class="grey-text lighten-3-text" style="margin-top:45%;text-align:center;" id="empty-notif">
                              <span  class="material-icons" style="font-size:100px">
                                  notifications</span><br/>
                              <span style="font-size:19px">No notification for now!</span>
                          </div>
                      
                  </div>
                  
                  <div class="col s12 m3 l4"></div>
                </div>
               
            </div>
        </div>
    </div>
                  
    <script>
      $( document ).ready(function() { 
        var elems_lang = document.querySelectorAll('#language-input .dropdown-trigger');
          M.Dropdown.init(elems_lang, {});
        });
        
        if(window.location.hostname=="localhost"){
                var server="http://localhost:3000";
            }else{
                var server="https://webrtc.alpha-beta.ovh";
            }
        var socket = io.connect(server+'/teachers');
          socket.on('ready', function(){
            getCurrentTeacher(account);            
          });
          socket.on('joined', function(d){
            console.log(d);
            console.log(topic);
            console.log(min_price);
              
          });
          socket.on('lose', function(d){
            denied(d.lectureId)
              
          });
            socket.on("joining-room",function(url){
                console.log(url);
                console.log(data)
                // Sets the new href (URL) for the current window.
                window.location.href = url;//+"?id="+data.id;
            })
            var title="Your courses";
            socket.on("class-available", function(student){
              console.log(student);
              
              data=student;
              if(data.prize<=max_price&&data.prize>=min_price&&data.lang==lang){
                var d = new Date();
                var id = d.getTime();
                var hash=data.lectureId
                if (document.getElementById("notification").hasChildNodes()) {
                  $("#notification").removeClass("hide");
                  $("#empty-notif").addClass("hide");
                  }

                  $("#notification").append('<li id="'+hash+'" class="collection-item avatar item-list" style="padding-left:20px;padding-top:20px;padding-bottom:7px;">'+
                  '<span class="title " style="font-size:20px;">'+topic+'('+data.lang+')'+'</span>'+
                  ' <p class="grey-text"> The student '+
                      data.student_name+' request a ' +topic+ ' lecture for '+ web3.fromWei(data.prize, "ether")+' Ether<br/>'+
                      'detail: '+data.chapitre+
                    '</p><br/>'+
                    '<div class="row col s12">'+
                        '<button onclick="accecpt('+data.hour+')" class="col s4 m3 waves-effect waves-teal btn-small btn  accent-color" style="float:right">accept</button>'+
                      '<button onclick="denied('+hash+')" class="col s4 m3 waves-effect waves-light btn-small btn-flat denied-btn  red-text darken-1-text" style="float:right">denied</button>'+  
                    '</div>'+
                    '<div class="secondary-content">'+
                        parseInt(data.hour)+'min'+
                  '</div>'+
                  '</li>');
                  data.topic=topic;
                var text = 'The student  ' + data.student_name + ' want a course in '+data.topic;
                var option={body:text,icon:'../../img/N.png'}
                createNotification(title,option);
              }           
                
            });
            function denied(id){
              $("#"+id).remove();
              if (document.getElementById("notification").hasChildNodes()) {
                  $("#notification").addClass("hide");
                  $("#empty-notif").removeClass("hide");
                  }
            }
            function accecpt(time){
              sessionStorage.coursetime=time;
              console.log(account);
              socket.emit("class-accepted", {id:data.id,lecture:data.lectureId,wallet:account,topic:data.topic});
            }
            document.getElementById("logout").addEventListener('click',function(event){
               event.preventDefault();
               localStorage.logged=false
               window.location.href="/"
            })
    </script>
 
</body>
</html>