<div class="col 12 waiting-search hide" id="waiting-core">
        <div class="row col s12">
                <div class="preloader-wrapper big active " style="left:6%">
                        <div class="spinner-layer spinner-blue-only">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div><div class="gap-patch">
                            <div class="circle"></div>
                          </div><div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col s12 grey-text lighten-4-text" >
                            <span id="msg">searching for teacher...</span>
                      </div>
        </div>
</div>