@import url(https://fonts.googleapis.com/css?family=Roboto:400);
.row-index{
    margin-bottom: 0px; 
}
.main{
  height: 100%;
  background-color: #253E5D;

}
.heigth-100{
    height: 100%;
}
.heigth-20{
    height: 20%;
}
.img-logo{
    margin: auto;
    float: left;
    padding-bottom: 5%;
    margin-left: 34%;
    margin-top: 7%;
}
.video-intro{
    width: 70%;
    height: 57%;
    margin: auto;
    margin-left: 17%;
}

.size-25{
  width: 25%
}
.size-35 {
    width: 35%;
}
.size-50{
  width: 50%
}
.size-35{
    width: 35%;
}
.accent-color{
    background-color: #00B694
}
.core-form{
  height: 100%;
  background-color: #EBEBEB;
  border-bottom: 1px solid #00B694;
}
.tab-size-50{
    width: 50%;
}
.nav-color{
  background-color: #fff;
 
}
.tabs .tab a:focus.active,.tabs .tab :focus,.tabs .tab a.active {
    background-color: transparent;
    color: #000;
}
.tabs .tab a:hover{
    
    background-color: #00b69429;
    color:#000;
}
.tabs .tab a:focus,.tabs .tab a,.tabs.tabs-transparent .tab a ,.tabs.tabs-transparent .tab a.active{
    background-color: transparent;
    color:#000;
}
.tabs.tabs-transparent .tab a:hover,.tabs.tabs-transparent .tab a.active:hover{
    color:#000;
}
.tabs .indicator{
    background-color: #00B694;
}

.input-padding-2-5{
    padding: 0px 25px;
}
.input-margin-2{
    margin-top: 2px;
    margin-bottom: 2px;
}
.input-margin-5{
    margin-top: 5px;
    margin-bottom: 5px;
}
.title-form{
    text-align: center;
    font-size: 20px;
    height: 6%;
}
.login-pos-title{
    position: relative;
    z-index: 5;
    top: -23px;
    background-color: #ebebeb;
    width: 50%;
    margin: auto;
}
.title-login{
    text-align: center;
    font-size: 16px;
}
.radius-8{
    border-radius:8px;
}
.radius-10{
    border-radius:10px;
}
.form-extra{
    margin-top:7%;
}
.form-extra-student{
    margin-top:20%;
}
.carousel .carousel-item{
    width:92%;
}
.select-dropdown li img{
    float: left;
}
.select-flag{
    
        background-repeat: no-repeat;
        background-size: 35px;
        background-position: 2px;
        background-position-x: 10px;
        padding-left: 54px;
}
.select-wrapper{
    background-color: #fff;
    border: 1px solid #9e9e9e;
}
.select-wrapper input.select-dropdown{
    
    border-bottom: 0px;
    padding-left: 5px;
}
.select-wrapper input.select-dropdown:focus {
    border-bottom: 0px ;
}
.noUi-target {
    background: #bbbbbb;
    border-radius: 4px;
     border: 0px;
     box-shadow: 0px;
}
html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    right: 0px;
    left: auto;
}

.noUi-horizontal {
    height: 7px;
}
.noUi-horizontal .noUi-handle {
    width: 10px;
    height: 10px;
    left: -17px;
    top: -2px;
}
.noUi-handle:before, .noUi-handle:after {
    width: 17px;
    content: none;
    position: absolute;
    top: 0;
    height: 100%;
    display: block;
}