.cust-side {
    width: 6%;
    position: fixed;
    left: 12px;
}

.center-font {
    width: 100%;
    position: relative;
    top: 12%;
}

.center-font-small {
    width: 50%;
    position: relative;
    top: 35%;
}

.color-box {
    height: 39%;
    border: 1px solid;
    left: 0%;
    top: 29%;
}

.canvas-container {
    width: 500px;
    height: 500px;
}

.upper-canvas {
    width: 500px;
    height: 500px;
}